<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.boom.box.vo.UserVO" alias="user" />
		<typeAlias type="com.boom.box.vo.VideoVO" alias="video" />
		<typeAlias type="com.boom.box.vo.MembershipVO" alias="membership"/>
		<typeAlias type="com.boom.box.vo.MyStageVO" alias="myStage"/>
		<typeAlias type="com.boom.box.vo.ReportVO" alias="report"/>
		<typeAlias type="com.boom.box.vo.MotionVO" alias="motion"/>
		<typeAlias type="com.boom.box.vo.BoomMasterVO" alias="boomMaster"/>
		<typeAlias type="com.boom.box.vo.CrmVO" alias="crm"/>
		<typeAlias type="com.boom.box.vo.RefundVO" alias="refund"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/videoMapper.xml" />
		<mapper resource="mapper/membershipMapper.xml" />
		<mapper resource="mapper/myStageMapper.xml" />
		<mapper resource="mapper/reportMapper.xml" />
		<mapper resource="mapper/managerMapper.xml" />
		<mapper resource="mapper/motionMapper.xml" />
		<mapper resource="mapper/boomMasterMapper.xml" />
		<mapper resource="mapper/crmMapper.xml" />
		<mapper resource="mapper/refundMapper.xml" />
	</mappers>
	
</configuration>
