<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boom.box.dao.FollowMapper">
<insert id="insertFollow" parameterType="follow">
INSERT
	INTO
	HR.FOLLOW_TB
	(
		FOLLOW_ID,
		FOLLOW_USER_ID,
		FOLLOW_STAGE_ID
	)VALUES(
		follow_seq.nextval
		,#{follow_user_id}
		,#{follow_stage_id}
	)


</insert>

<delete id="deleteFollow" parameterType="int">

DELETE
FROM
	HR.FOLLOW_TB
WHERE
	FOLLOW_ID = #{follow_id}


</delete>

<select id="seleteFollowUser" parameterType="int" resultType="follow">

SELECT
	FOLLOW_ID,
	FOLLOW_USER_ID,
	FOLLOW_STAGE_ID
FROM
	HR.FOLLOW_TB
where
	FOLLOW_USER_ID =#{follow_user_id}


</select>




</mapper>
