<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boom.box.dao.SchoolMapper">
<select id="selectSchoolVideoList" resultType="hashmap">
	 select
	    v.video_id as video_id
		,v.video_user_id as video_user_id
		,v.video_title as video_title
		,v.video_content as video_content
		,v.video_hit as video_hit
		,v.video_urlS as video_urlS 
		,v.video_urlO as video_urlO
		,to_char(video_inDate, 'yyyy-MM-dd') as video_inDate
		,v.video_class as video_class
		,v.video_public as video_public
		,v.video_ageLimit as video_ageLimit
		,v.video_thumbnailS as video_thumbnailS 
		,v.video_thumbnailO as video_thumbnailO
		,v.video_copyright as video_copyright
		,v.video_motion as video_motion
		,v.video_likeNum as video_likeNum
		,u.user_name as user_name
		,u.user_googleimg as user_googleimg
		,s.stage_profileImgS as stage_profileImgS
		,s.stage_profileImgO as stage_profileImgO
	from
	    video_tb v, user_tb u, stage_tb s
	where
		v.video_user_id = u.user_id
		and
		s.stage_user_id = u.user_id
	       and
	       v.video_user_id in (
	           SELECT
	               BOOMMASTER_USER_ID
	           FROM
	               BOOMMASTER_TB     
	       )
	    and
        v.video_class = 2
	order by
	    v.video_indate desc
        
</select>

<select id="selectVideoListbyCategory" resultType="hashmap" parameterType="String">
    select
	    v.video_id as video_id
		,v.video_user_id as video_user_id
		,v.video_title as video_title
		,v.video_content as video_content
		,v.video_hit as video_hit
		,v.video_urlS as video_urlS 
		,v.video_urlO as video_urlO
		,to_char(video_inDate, 'yyyy-MM-dd') as video_inDate
		,v.video_class as video_class
		,v.video_public as video_public
		,v.video_ageLimit as video_ageLimit
		,v.video_thumbnailS as video_thumbnailS 
		,v.video_thumbnailO as video_thumbnailO
		,v.video_copyright as video_copyright
		,v.video_motion as video_motion
		,v.video_likeNum as video_likeNum
		,u.user_name as user_name
		,u.user_googleimg as user_googleimg
		,s.stage_profileImgS as stage_profileImgS
		,s.stage_profileImgO as stage_profileImgO
	from
	    video_tb v, user_tb u, stage_tb s
	where
		v.video_user_id = u.user_id
		and
		s.stage_user_id = u.user_id
        and
        v.video_user_id in (
            SELECT
                BOOMMASTER_USER_ID
            FROM
                BOOMMASTER_TB       
        )
        and 
        v.video_id in (
                select distinct
        vv.video_id
        from
            video_tb vv, videointerest_tb vi
        where
            vv.video_id = vi.videointerest_video_id
            and
            vi.videointerest_category = #{videointerest_category}
        )
        and
        v.video_class = 2
	order by
	    v.video_indate desc


</select>

</mapper>
